*{
    margin: 0;
    padding: 0;
    
    }
    
    .main{
    width: 100%;
    background:url(fuel\ back\ 2.jpeg);
    background-position: center;
    background-size: cover;
    height: 109vh;
    min-height: 100vh;
    }
    
    .navbar{
        width: 1200px; 
        height: 75px;
        margin: auto;
    }
    
    .icon{
        width: 1200px;
        float: left;
        height: 70px;
    
    }
    
    .logo{
        color: #ac2121;
        font-size: 35px;
        font-family: Arial, Helvetica, sans-serif;
        padding-left: 20px;
        float: left;
        padding-top: 10px; 
        
    }
    
    .menu{
        width: 400px;
        float: left;
        height: 70px;
    
    }
    
    ul{
        float: left;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    ul li{
        list-style: none;
        margin-left: 62px;
        margin-top: 27px;
        font-size: 14px;
    }
    
    ul li a{
        text-decoration: none;
        color: aliceblue;
        font-family: Arial;
        font-weight: bold;
        transition: 0.4s ease-in-out ;
    
    }
    ul li a:hover{
        color: rgb(145, 35, 35);
    }
    
    .search{
        width: 330px ;
        float: left;
        margin-left: 270px;
    
    }
    
    .srch {
        font-family: 'Times New Roman', Times, serif;
        width: 200px;
        height: 40px;
        background: rgba(0, 0, 0, 0.5);
        border: 1px solid rgb(48, 45, 45);
        margin-top: 13px;
        color: rgb(35, 35, 34);
        border-right: none;
        font-size: 10px;
        float: left;
        padding: 10px;
        border-bottom-right-radius: 5px;
        border-top-left-radius: 5px;
    }
    

.btn{
    width: 100px;
    height: 40px;
    background: #ac2121;
    border: 2px solid #ac2121;
    margin-top: 13px;
    color: #fff;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;

}

.btn.focus{
    outline: none;

}

.srch.focus{
    outline: none;

}

.content {
    width: 50%; 
    margin-left: 50px;
    margin-top: 100px;
    color: white;
    text-align: left; 
}

.content .register {  
    width: 1200px;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
    top: -50px; 
}

.register {
    position: relative;
    top: -30px;
    text-align: left;
}

.register .btn {
    width: 160px;
    height: 40px;
    background: #ac2121;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 20px; 
    cursor: pointer;
}



.register .par {  
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.register h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;


}

.register .cn{
    width: 160px;
    height: 40px;
    background: #ac2121;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;

}

.register.cn a{
    text-decoration: none;
    color: black;
    transition: 3s ease;

}

.register .cn:hover {
    background-color: #fff;
    color: black; 
}

.content span{
    color: #ac2121;
    font-size: 40px;

}

.form{
    width: 250px;
    height: 210px;
    background: linear-gradient(to top, rgba(0,0,0,0,8)50%);
    position: absolute;
    top: 410px;
    left: 810px;
    border-radius: 10px;
    padding: 25px;

}

.form h2{
    width: 120px;
    font-family: sans-serif;
    text-align: center;
    color: #ac2121;
    font-size: 22px;
    background-color: #fff;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;

}

.form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #ac2121;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}

.form input:focus{
    outline: none;

}

::placeholder{
    color: #fff;
    font-family: Arial;


}

.btnn{
    width: 240px;
    height: 40px;
    background-color: #ac2121;
    border: none;
    margin-top: 30px;
    font-size: 10px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;




}

.btnn:hover{
    background: #fff;
    color: #ac2121;
} 

.btn a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.from .link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}

.form .link a{
    text-decoration: none;
    color: #ac2121;
}

.liw{
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;

}